<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hello from EduTrack 👋</h2>
    <div>
        <span>We received your request to access <%= Reg_no%>'s results</span>
        <span>However, we are unable to link you with the student</span>
        <span>Kindly contact the department's admin to resolve the issue</span>
        <span>Contact: <span>0785847478</span> </span>
        <span>Email:<span>admin@uhgfh.com</span></span>
    </div>
</body>

</html>