.home-component {
  display: flex;
  flex-direction: column;
}
.home-stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5rem;
}
.home-content {
  width: 350px;
  height: 150px;
  background-color: #0773b9;
  /* border: 1px solid black; */
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-span {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.home-span span {
  color: white;
}
.user-icon {
  color: white;
}
/* #0773b9 */
.home-upload {
  margin: 1.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
}
.home-upload div {
  background-color: #f0eded;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-upload div:first-child {
  margin-bottom: 1rem;
}
.home-upload div input {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.home-upload div button {
  background-color: #0773b9;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}
.upload-file-div {
  display: flex;
}
.upload-file-div button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}
.student-icon {
  width: 60px;
  height: 60px;
  color: white;
}
.student-icon-2 {
  width: 60px;
  height: 60px;
  color: black;
}
.upload-icon {
  display: flex;
  flex-direction: column;
}
.upload-icon span {
  margin-top: 1rem;
  color: black;
}
