<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Hello from EduTrack 👋</h2>
    <div>
        We received your request to access <%= Reg_no%>'s results
            However, we are unable to link you with the student
            Kindly contact the department's admin to resolve the issue
            <span>Contact: <p>0785847478</p> </span>
            <span>Email:<p>admin@uhgfh.com</p></span>
    </div>
</body>

</html>