.notice-form {
  width: 60%;
  margin: 0 auto;
}
.notice-form label {
  display: block;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}
.notice-form input[type="text"] {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.notice-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
